@import '..//..//../styles/variables';

.newStageForm-container {
  padding: 2em 10em;
  .form {
    display: flex;
    padding: 2em;
    flex-direction: column;
    font-family: Lora regular;
    font-size: 110%;
    border: 2px solid $light-green;
    border-radius: 10px;
    background-color: $light-beige;
    box-shadow: $shadow;
    
    &__group {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      &__columnWrapper {
        display: flex;
        flex-direction: column;
        width: calc(1/2*100% - (1 - 1/2)*1em);
        min-width: 350px;
        @media screen and (max-width: 900px) {
          width: 100%;/**/
        }
      }
    }
      &__radioButton {
        border-bottom: 2px solid #3D8361;
        border-radius: 3px;
        background-color: #fff;
        height: 2.10em;
        display: flex;
        align-items: center;
        box-shadow: $shadow;
        transition: all .2s;
        label {
          margin: 0;
          margin-left: 1em;
          padding: 0;
        }
        &:hover {
          box-shadow: $shadow-hower;
        }
      }
      input[type="radio" i] {
        margin-left: .5em;
        box-shadow: none;
        &:hover {
          box-shadow: none;
        }
      }
      input {
        height: 2em;
        padding: .4em;
        background-color: #fff;
        border-radius: 3px;
        border: none;
        border-bottom: 2px solid #3D8361;
        transition: all .2s;;
        box-shadow: $shadow;
        &:hover {
          box-shadow: $shadow-hower;
        }
      }
    }
    &__submit {
      display: flex;
      justify-content: start;
      margin-top: .5em;
      padding: .5em;
      padding-left: 0;
      p {
        color: red;
        font-size: 70%;
      }
      button {
        font-family: Montserrat;
        color: #fff;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: $light-green;
        width: 7em;
        padding: .5em;
        padding-left: 0; 
        transition: all ease-in-out .2s;
        &:hover {
          background-color: $dark-green;
        }
      }
    }
  }
  

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;  
  }
  .block {
    display: block;
  }
  .positionRelative {
    position: relative;
  }

.container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2em;
  text-align: center;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $light-beige;
  .select-container {
    &__select {
      font-size: 150%;
      background-color: $dark-green;
      color: #fff;
      border-radius: 4px;
      padding: .5em;
      border-radius: 10px;
      outline: none;
      text-align: center;
    }
    &__option {
      outline: none;
      border: none;
      appearance: none;
      background-color: transparrent;
      background-color: none;
      border: none;
      border-radius: 4px;
      box-shadow: none;
      transition: all .2s;
    }
  }
}
