@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$dark-green: #1C6758;
$light-green: #3D8361;
$beige: #D6CDA4;
$light-beige: #EEF2E6;


